[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/stmnk/qa/blob/master/data/eda_4_data_sample.ipynb)
Exploratory data analysis for the *only 10% no long answer* sample data of NQ dataset.

In [0]:
from google.colab import drive
DRIVE_ROOT = '/content/drive'
drive.mount(DRIVE_ROOT)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# head -100 data/nq_sampled_10p_no_ans.jsonl > data/nq_sampled_10p_no_ans_100.jsonl
# head -1000 data/nq_sampled_10p_no_ans.jsonl > data/nq_sampled_10p_no_ans_1000.jsonl
# cd simplified
# head -15000 nq_sampled_10p_no_ans.jsonl > ../mini/nq_sampled_10p_no_ans_15K.jsonl
# tail -25000 nq_sampled_10p_no_ans.jsonl > ../mini/nq_sampled_10p_no_ans_25K.jsonl

In [0]:
DEV_PATH = 'My Drive/data'

In [0]:
# !head -100 '/content/drive/My Drive/data/nq_sampled_10p_no_ans.jsonl' > '/content/drive/My Drive/data/nq_sampled_10p_no_ans_100.jsonl'

In [0]:
import json
import pandas as pd

def read_jsonl(input_path) -> list:
    """
    Read list of objects from a JSON lines file.
    """
    data = []
    with open(input_path, 'r', encoding='utf-8') as f:
        for line in f:
            line_data = json.loads(line.rstrip('\n|\r'))

            data.append(line_data)
    print(f'Loaded {len(data)} records from {input_path}')
    # print(f'Normalized into {len(data_norm)} records.')
    return data

# nq_data = read_jsonl(f'{DRIVE_ROOT}/{DEV_PATH}/nq_sampled_10p_no_ans_100.jsonl')
# nq_data = read_jsonl(f'{DRIVE_ROOT}/{DEV_PATH}/nq_sampled_10p_no_ans_1.jsonl')
nq_data = read_jsonl(f'{DRIVE_ROOT}/{DEV_PATH}/nq_sampled_10p_no_ans_28.jsonl')

nq_df = pd.DataFrame(nq_data)

pd.set_option('display.max_colwidth', 200)
nq_df

Loaded 1 records from /content/drive/My Drive/data/nq_sampled_10p_no_ans_28.jsonl

                                                                                                                                                                                             document_text  ...           example_id
0  Lena Headey - wikipedia <H1> Lena Headey </H1> Jump to : navigation , search <Table> <Tr> <Th_colspan="2"> Lena Headey </Th> </Tr> <Tr> <Td_colspan="2"> Headey at the 63rd Primetime Emmy Awards </...  ... -5657912605393786481

[1 rows x 6 columns]

In [0]:
nq_input_df = nq_df[['question_text', 'document_text']]
nq_input_df

                                  question_text                                                                                                                                                                                            document_text
0  who plays circe lannister on game of thrones  Lena Headey - wikipedia <H1> Lena Headey </H1> Jump to : navigation , search <Table> <Tr> <Th_colspan="2"> Lena Headey </Th> </Tr> <Tr> <Td_colspan="2"> Headey at the 63rd Primetime Emmy Awards </...

In [0]:
nq_output_df = nq_df[['annotations', 'long_answer_candidates', 'document_text']]
nq_output_df

                                                                                                                                                                                               annotations  ...                                                                                                                                                                                            document_text
0  [{'yes_no_answer': 'NONE', 'long_answer': {'start_token': 157, 'candidate_index': 12, 'end_token': 189}, 'short_answers': [{'start_token': 158, 'end_token': 160}], 'annotation_id': 842830856246078...  ...  Lena Headey - wikipedia <H1> Lena Headey </H1> Jump to : navigation , search <Table> <Tr> <Th_colspan="2"> Lena Headey </Th> </Tr> <Tr> <Td_colspan="2"> Headey at the 63rd Primetime Emmy Awards </...

[1 rows x 3 columns]

In [1]:
nq_out = pd.DataFrame()
for i in nq_data:
  line_norm = pd.io.json.json_normalize(i['annotations'])
  start = line_norm['long_answer.start_token'][0]
  end = line_norm['long_answer.end_token'][0]
  l_answer = i['document_text'][start:end]
  print(l_answer)
  nq_out = pd.concat([nq_out, line_norm])

nq_out

NameError: name 'pd' is not defined

In [0]:
nq_data

                                        document_text  ...           example_id
0   Echo ( command ) - wikipedia <H1> Echo ( comma...  ... -1597477975860921384
0   Removal of Confederate monuments and memorials...  ... -9065784408732536125
0   Gun laws in Indiana - wikipedia <H1> Gun laws ...  ... -7673229615879657244
0   Dog behavior - wikipedia <H1> Dog behavior </H...  ...   779540282274241805
0   List of Miss America titleholders - Wikipedia ...  ... -3810950140615511988
..                                                ...  ...                  ...
0   Do n't Be Cruel ( album ) - wikipedia <H1> Do ...  ...   422285032523668788
0   List of surviving veterans of World War II - w...  ... -1510509223935576034
0   List of most - followed Instagram accounts - w...  ... -8078425945158110630
0   List of solar deities - wikipedia <H1> List of...  ... -8052473042553592834
0   Skyrush - wikipedia <H1> Skyrush </H1> <Table>...  ... -3158132830019131273

[100 rows x 6 columns]